:root {
    --basecolor:#72BF78;
    --seccolor:#bbffb5;
    --bgcolor: #ffffff;
    /* --basecolor: #4f9655;
    --seccolor:#87ff7c;
    --bgcolor: #2a2a2a; */
}

/* darkmode */
/* img.eye {
    filter: invert(100%);
}

.fitur img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.edu-area img.edu-btn {
    filter: invert(100%);
    -webkit-filter: invert(100%);
} */

/* all-in selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    color: var(--basecolor);
    background-color: var(--bgcolor);
    font-family: 'Poppins', sans-serif;
    margin: 0 0;
}

input {
    background-color: var(--bgcolor);
}

.overlaylogin, .overlayregis {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1000;
    display: block;
    display: none;
}

@media screen and (min-width: 1024px){
    /* loading page */
    .loadpage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #loadingimg {
        display: block;
        width: 120px;
        margin: auto;
        cursor: default;
        animation: tuing2 ease-out 2s infinite;
        -webkit-animation: tuing2 ease-out 2s infinite;
        }
    
    #loadingtext {
        display: block;
        text-align: center;
        margin: auto;
        cursor: default;
        animation: teks 3s ease-in-out infinite;
    }

    /* hero section */
    .hero {
        min-height: 100vh;
        margin-bottom: 100px;
        margin-top: 0;
        cursor: default;
        opacity: .9;
        display: flex;
        align-items: center;
        /* darkmode */
        /* background-image: url("/SobatTani/image/hero section.png"); */
        /* lightmode */
        background-image: url("/SobatTani/image/hero-imagejpg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        -webkit-mask-image: linear-gradient(rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0));
        mask-image: linear-gradient(rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0));
    }

    .hero::after {
        content: "";
        display: block;
        position: absolute;
        height: 30%;
        bottom: 0;
        background: linear-gradient(0deg,var(--bgcolor) 8%,rgba(255, 255, 255, 0) 50%);
    }
    .hero .content {
        padding: 1.4rem 7%;
        width: 100%;
        text-align: center;
        position: fixed;
        top: 200px;
        background: none;
    }

    .hero .content h1 {
        font-size: 4em;
        color: var(--basecolor);
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
        line-height: 1.2;
    }
    .hero .content p {
        font-size: 1.6rem;
        margin-top: 1rem;
        line-height: 1.4;
        font-weight: 100;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
        mix-blend-mode: difference;
        color: var(--basecolor);
    }

    /* Header */
    header * {
        margin: auto;
    }

    header {
        top: 0;
        left: 0;
        right: 0;
        position: sticky;
        background-color: var(--basecolor);
        color: var(--bgcolor);
        box-shadow: 0 5px 5px var(--basecolor);
        height: 70px;
        display: flex;
        margin: auto;
        z-index: 1000;
    }

    header nav {
        display: flex;
        gap: 30px;
    }

    header nav a img {
        width: 20px;
        height: 20px;
        transition: .5s;
    }

    header nav a img:hover{
        border-radius: 8px;
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
        scale: 1.25;
    }

    header nav a img.activ:hover {
        transform: rotate(-360deg);
    }

    header nav a img.notif:hover {
        animation: bell .5s ease-in-out;
    }

    header nav a img.usser:hover {
        animation: usser .5s ease-in-out;
    }

    header nav a img.cart:hover {
        animation: cart .5s ease-in-out;
    }

    header a.logo {
        color: var(--bgcolor);
        text-decoration: none;
        display: flex;
        gap: 10px;
        transition: .3s;
    }

    header a.logo:hover {
        filter: drop-shadow(0 0 10px var(--bgcolor));
        scale: 1.05;
    }

    header a img {
        width: 60px;
        height: 60px;
    }

    header .search-box input:focus {
        outline: none;
        color: var(--basecolor);
    }

    header .search-box input:enabled {
        color: var(--basecolor);
    }

    header .search-box input::placeholder {
        color: var(--basecolor);
        opacity: .7;
    }

    header .search-box {
        display: flex;
        gap: 0px;
        width: fit-content;
        height: fit-content;
        border-radius: 8px;
        box-shadow: 0 0 10px var(--bgcolor);
    }

    header .search-box img {
        width: 20px;
        height: 20px;
    }

    header .search-box button {
        border: none;
        height: 40px;
        width: 30px;
        cursor: pointer;
        background-color: var(--basecolor);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        transition: .3s;
    }

    header .search-box button:hover {
        background-color: var(--seccolor);
    }

    header input#search-section {
        background-color: var(--bgcolor);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        border: none;
        margin: auto;
        padding: 20px;
        width: 400px;
        height: 20px;
    }

    /* hide search box */
    header .search-box-hide {
        width: 430px;
    }

    /* Main */
    main {
        background-color: var(--bgcolor);
        color: var(--basecolor);
        margin: auto;
        width: 1000px;
        text-align: left;
    }


    /* section */
    section {
        box-shadow: 0 0 10px var(--basecolor);
        border-radius: 8px;
        margin: 50px auto;
        padding: 20px;
    }

    section button {
        border-radius: 8px;
        background-color: var(--basecolor);
        box-shadow: 0 0 5px var(--basecolor);
        color: var(--bgcolor);
        border: none;
    }

    section button:hover{
        background-color: var(--seccolor);
    }
    
    section a img.close {
        position: relative;
        z-index: 700;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        transition: .5s;
        box-shadow: 0 0 5px 5px var(--basecolor);
        background-color: var(--basecolor);
    }

    section a img.close:hover {
        z-index: 700;
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
        scale: 1.05;
    }

    section .pop-up {
        position: fixed;
        bottom: 50px;
        right: -500px;
        padding: 15px;
        background-color: var(--bgcolor);
        box-shadow: 0 0 5px var(--basecolor);
        border-radius: 8px;
        width: fit-content;
        height: fit-content;
        /* animation: ppp 10s ease-in-out; */
    }

    section .pop-up h2, .pop-up p {
        text-align: center;
        margin: auto;
        cursor: default;
    }

    /* login-page */
    .register-page *, .login-page * {
        margin: 10px;
    }

    .register-page, .login-page {
        position: fixed;
        box-shadow: 0 0 5px var(--basecolor);
        background-color: var(--bgcolor);
        height: fit-content;
        width: 800px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .register-page a, .login-page a {
        color: var(--basecolor);
    }

    .register-page a:hover, .login-page a:hover {
        color: var(--seccolor);
    }

    .register-page h1, .login-page h1 {
        margin: auto;
        text-align: center;
    }

    .register-page h3, .login-page h3 {
        border-bottom: 1px solid var(--basecolor);
        width: fit-content;
    }

    .register-page .write, .login-page .write {
        display: flex;
    }

    .register-page .write img.register-image, .login-page .write img.login-image {
        width: 20px;
        height: 20px;
        margin: auto;
    }

    .register-page .write img.eye, .login-page .write img.eye {
        position: absolute;
        bottom: 122px;
        right: 70px;
        height: 15px;
        width: 15px;
    }
    
    .register-page .write input, .login-page .write input {
        width: 600px;
        margin: auto;
        height: 30px;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 0 5px var(--basecolor);
        background-color: var(--bgcolor);
    }

    .register-page .write input:focus, .login-page .write input:focus {
        outline: none;
        color: var(--basecolor);
    }

    .register-page .write input:enabled, .login-page .write input:enabled {
        color: var(--basecolor);
    }

    .register-page .write input::placeholder, .login-page .write input::placeholder {
        color: var(--basecolor);
        opacity: .7;
    }

    .register-page button , .login-page button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 40px;
        cursor: pointer;
    }

    #regisbtn, #loginbtn {
        cursor: pointer;
    }

    /* edu card */
    .edu-area {
        overflow: hidden;
        width: 100%;
    }

    .edu-card {
        display: flex;
        flex-direction: row;
        gap: 30px;
        transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
    }

    .edu-card img {
        width: 900px;
        margin-left: 30px;
        border-radius: 8px;
    }

    .edu-area img.edu-btn {
        width: 40px;
        position: relative;
        z-index: 100;
    }

    .edu-area img.edu-btn:hover {
        filter: drop-shadow(0 0 20px var(--basecolor));
    }

    .edu-area .left {
        top: 235px;
        left: -20px;
    }

    .edu-area .right {
        right: -940px;
        bottom: 235px;
    }


    /* fitures */
    .fitur-content {
        display: inline-block;
        position: relative;
        margin: 20px 50px;
        transition: .5s;
    }

    .fitur-content:hover {
        opacity: .7;
        filter: drop-shadow(0 0 10px var(--seccolor));
        color: var(--seccolor);
        scale: 1.05;
    }

    .fitur img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 50px;
        margin-bottom: -30px;
        margin-right: 50px;
        width: 80px;
        height: 80px;
        align-items: center;
    }

    .fitur a {
        color: var(--basecolor);
        text-decoration: none;
        margin: auto;
    }

    .fitur-content p {
        text-align: center;
    }

    /* fitur-page */
    .fitur-area {
        height: 500px;
    }

    .fitur-area h2 {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .fitur-area img.logo {
        width: 300px;
        animation: ftr 3s ease-in-out infinite;
        display: block;
        margin: auto;
        margin-top: 50px;
    }

    /* product */
    .product-card * {
        cursor: pointer;
    }

    .card-container {
        width: 100%;
        height: fit-content;
        margin: auto;
        cursor: pointer;
    }

    .product-card {
        float: left;
        position: relative;
        padding: 10px;
        width: 200px;
        height: fit-content;
        border-radius: 8px;
        margin: 20px 20px;
        box-shadow: 0 0 5px var(--basecolor);
        transition: .5s;
    }

    .product-card:hover {
        box-shadow: 0 0 10px var(--basecolor);
        opacity: .8;
        scale: 1.1;
    }

    .product-card * {
        margin: 5px 0;
    }

    .product-card button {
        width: 100%;
        height: 30px;
        transition: .3s;
    }

    .product-card img.prod-img {
        width: 180px;
        height: 180px;
    }

    .product-card img.cart-oc {
        position: absolute;
        top: 160px;
        right: 20px;
        width: 20px;
        height: 20px;
        background-color: var(--basecolor);
        box-shadow: 0 0 5px 10px var(--basecolor);
        transition: .5s;
    }

    .product-card img.cart-oc:hover {
        transform: scale(1.2);
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
    }


    /* article */
    .article-content {
        margin: 20px;
    }

    .thumbnail img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
    }

    .article-content p {
        text-indent: 15px;
    }

    .article-content ul li {
        margin-left : 40px;
    }

    .article-content h4 {
        text-indent: 20px;
    }

    /* account */
    .account-content {
        margin: auto;
    }

    .account-content img.profile-picture {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        margin-bottom: 5px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 5px var(--basecolor);
    }

    .account-content img.eye {
        position: relative;
        bottom: -3px;
        right: -60px;
        height: 15px;
        width: 15px;
    }

    .add-btn {
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .btn-acc {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: auto;
        margin-top: 20px;
    }

    .account-content button {
        position: relative;
        margin-top: 20px;
        margin: auto;
        width: 220px;
        height: 40px;
    }

    .account-content .btn-acc #keluarbtn {
        background-color: var(--bgcolor);
        color: var(--basecolor);
        transition: .5s;
    }

    .account-content .btn-acc #keluarbtn:hover {
        background-color: var(--seccolor);
    }
    
    /* slider toggle */
    .slider-container {
        margin: auto;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        transition: .4s;
        border-radius: 34px;
        border: 1px solid var(--basecolor);
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 25px;
        width: 25px;
        left: 4px;
        bottom: 4px;
        background-color: #2a2a2a;
        transition: .7s ease-in-out;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    input:checked + .slider {
        background-color: #2a2a2a;
    }
    
    input:checked + .slider:before {
        transform: translateX(26px);
        background-color: #fff;
    }

    .account-content h3 {
        margin-bottom: 10px;
    }

    .account-content input {
        position: relative;
        margin-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: fit-content;
        padding: 10px;
        border: none;
        box-shadow: 0 0 5px var(--basecolor);
        border-radius: 8px;
    }

    .account-content input:focus {
        outline: none;
        color: var(--basecolor);
    }

    .account-content input:enabled {
        color: var(--basecolor);
    }

    .account-content input::placeholder {
        color: var(--basecolor);
        opacity: .7;
    }



    /* notification */
    .notif-container {
        margin: 20px;
    }

    .notif-content {
        box-shadow: 0 0 5px var(--basecolor);
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
    }

    .notif-text{
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 550px;
    }

    .notif-content .date {
        margin-top: 20px;
        margin-left: 50px;
    }

    .notif-btn {
        width: 100px;
        height: 40px;
        margin-top: 10px;
    }


    /* activity */
    .activity-container {
        margin: 20px;
    }

    .activity-content {
        display: flex;
        box-shadow: 0 0 5px var(--basecolor);
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
    }

    .activity-content img {
        width: 100px;
        height: 100px;
    }

    .activity-content .date {
        margin-left: 280px;
        margin-top: 50px;
    }

    .activity-content .activity-description {
        margin-left: 80px;
        margin-top: 15px;
        font-size: 20px;
        width: 200px;
    }

    /* cart */
    .cart-container {
        margin: 20px;
    }

    .cart-content {
        display: flex;
        box-shadow: 0 0 5px var(--basecolor);
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
    }

    .cart-content img {
        width: 70px;
        height: 70px;
    }

    .cart-description {
        margin-left: 30px;
        width: 200px;
    }

    .cartbtn {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 10px;
        margin-left: 300px;
    }

    .cartbtn .hapus-btn {
        background-color: var(--bgcolor);
        color: var(--basecolor);
    }

    .cartbtn .hapus-btn:hover {
        background-color: var(--seccolor);
    }

    .cart-content button{
        width: 200px;
        height: 30px;
        transition: 1s;
    }

    .allin-btn-cart {
        display: flex;
        flex-direction: row;
        margin-left: 320px;
        gap: 20px;
    }

    .allin-btn-cart button {
        height: 50px;
        width: 300px;
        transition: .5s;
    }

    .allin-btn-cart .hapus-btn {
        color: var(--basecolor);
        background-color: var(--bgcolor);
    }

    .allin-btn-cart .hapus-btn:hover {
        background-color: var(--seccolor);
        color: var(--bgcolor);
    }
    
    input[type="checkbox"] {
        display: none;
    }

    .cb-prod {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin-left: 120px;
        box-shadow: 0 0 5px var(--basecolor);
        border-radius: 8px;
        position: relative; 
        cursor: pointer;
    }

    .cb-prod:after {
        content: '';
        position: absolute;
        left: 20px;
        width: 25px; 
        height: 50px;
        border: solid var(--basecolor); 
        border-width: 0 5px 5px 0;
        transform: rotate(45deg); 
        opacity: 0; 
        transition: opacity 0.2s; 
    }

    
    input.cb-prod:checked + .cb-prod:after {
        opacity: 1; 
    }


    /* product */
    .prod-content *{
        margin: 20px;
    }

    .prod-content {
        display: flex;
    }

    .prod-description {
        margin-top: 45px;
    }

    .prod-content img.prod-img {
        width: 200px;
        height: 200px;
        box-shadow: 0 0 10px var(--basecolor);
        transition: 1s;
    }

    .prod-content img.prod-img:hover {
        scale: 1.4;
    }

    .prod button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        width: 500px;
        height: 50px;
        transition: .5s;
    }

    .prod img.cart-op {
        position: relative;
        top: 5px;
        right: -300px;
        width: 30px;
        height: 30px;
        transition: .5s;
        background-color: var(--basecolor);
        box-shadow: 0 0 5px 5px var(--basecolor);
    }

    .prod img.cart-op:hover {
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
    }

    /* clearfix */
    .cf:before, .cf:after {
        content: " ";
        display: table;
    }
    .cf:after {
        clear: both;
    }


    /* footer */
    footer {
        height: 25px;
        width: 100%;
        background-color: var(--basecolor);
        color : var(--bgcolor);
        text-align: center;
        letter-spacing: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* loading page */
    .loadpage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #loadingimg {
        display: block;
        width: 50px;
        margin: auto;
        cursor: default;
        animation: tuing2 ease-out 2s infinite;
        -webkit-animation: tuing2 ease-out 2s infinite;
}
    
    #loadingtext {
        display: block;
        text-align: center;
        margin: auto;
        cursor: default;
        animation: teks 3s ease-in-out infinite;
    }

    /* hero section */
    .hero {
        display: none;
    }

    /* Header */
    header * {
        margin: auto;
    }

    header {
        top: 0;
        left: 0;
        right: 0;
        position: sticky;
        background-color: var(--basecolor);
        color: var(--bgcolor);
        box-shadow: 0 5px 5px var(--basecolor);
        height: 70px;
        display: flex;
        margin: auto;
        z-index: 1000;
    }

    header nav {
        display: flex;
        gap: 25px;
    }

    header nav a img {
        width: 15px;
        height: 15px;
        transition: .5s;
    }

    header nav a img:hover{
        border-radius: 8px;
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
        scale: 1.25;
    }

    header nav a img.activ:hover {
        transform: rotate(-360deg);
    }

    header nav a img.notif:hover {
        animation: bell .5s ease-in-out;
    }

    header nav a img.usser:hover {
        animation: bell .5s ease-in-out;
    }

    header a.logo {
        color: var(--bgcolor);
        text-decoration: none;
        display: flex;
        gap: 5px;
        transition: .3s;
    }

    header a.logo:hover {
        filter: drop-shadow(0 0 10px var(--bgcolor));
    }

    header a img {
        width: 35px;
        height: 35px;
    }

    header a h1 {
        font-size: 20px;
    }

    header .search-box input {
        height: 10px;
    }

    header .search-box input:focus {
        outline: none;
        color: var(--basecolor);
    }

    header .search-box input:enabled {
        color: var(--basecolor);
    }

    header .search-box input::placeholder {
        color: var(--basecolor);
        opacity: .7;
    }

    header .search-box {
        display: flex;
        gap: 0px;
        width: fit-content;
        height: fit-content;
        border-radius: 8px;
        box-shadow: 0 0 10px var(--bgcolor);
    }

    header .search-box img {
        width: 15px;
        height: 15px;
    }

    header .search-box button {
        border: none;
        height: 20px;
        width: 20px;
        background-color: var(--basecolor);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        transition: .3s;
    }

    header .search-box button:hover {
        background-color: var(--seccolor);
    }

    header #search-section {
        background-color: var(--bgcolor);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        border: none;
        padding: 10px;
        width: 250px;
        height: 15px;
    }

    /* hide searchbox */
    header .search-box-hide { 
        width: 270px;
    }

    /* Main */
    main {
        background-color: var(--bgcolor);
        color: var(--basecolor);
        margin: auto;
        margin-top: 30px;
        width: 720px;
        text-align: left;
    }


    /* section */
    section {
        box-shadow: 0 0 10px var(--basecolor);
        border-radius: 8px;
        margin: 30px auto;
        padding: 20px;
    }

    section button {
        border-radius: 8px;
        background-color: var(--basecolor);
        box-shadow: 0 0 5px var(--basecolor);
        color: var(--bgcolor);
        border: none;
    }

    section button:hover{
        background-color: var(--seccolor);
    }

    section a img.close {
        position: relative;
        z-index: 700;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        transition: .5s;
        box-shadow: 0 0 5px 5px var(--basecolor);
        background-color: var(--basecolor);
    }

    section a img.close:hover {
        z-index: 700;
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
        scale: 1.05;
    }
    
    section .pop-up {
        position: fixed;
        bottom: 50px;
        right: -500px;
        padding: 15px;
        background-color: var(--bgcolor);
        box-shadow: 0 0 5px var(--basecolor);
        border-radius: 8px;
        width: fit-content;
        height: fit-content;
    }

    section .pop-up h2, .pop-up p {
        text-align: center;
        font-size: medium;
        margin: auto;
        cursor: default;
    }

    /* login-page */
    .register-page *, .login-page * {
        margin: 10px;
    }

    .register-page, .login-page {
        position: fixed;
        box-shadow: 0 0 5px var(--basecolor);
        background-color: var(--bgcolor);
        height: fit-content;
        width: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .register-page h1, .login-page h1 {
        margin: auto;
        text-align: center;
    }

    .register-page h3, .login-page h3 {
        border-bottom: 1px solid var(--basecolor);
        width: fit-content;
    }

    .register-page .write, .login-page .write {
        display: flex;
    }

    .register-page .write img.register-image, .login-page .write img.login-image {
        width: 20px;
        height: 20px;
        margin: auto;
    }

    .register-page .write img.eye, .login-page .write img.eye {
        position: absolute;
        bottom: 116px;
        right: 60px;
        height: 15px;
        width: 15px;
    }
    
    .register-page .write input, .login-page .write input {
        width: 300px;
        margin: auto;
        height: 10px;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 0 5px var(--basecolor);
        background-color: var(--bgcolor);
    }

    .register-page .write input:focus, .login-page .write input:focus {
        outline: none;
        color: var(--basecolor);
    }

    .register-page .write input:enabled, .login-page .write input:enabled {
        color: var(--basecolor);
    }

    .register-page .write input::placeholder, .login-page .write input::placeholder {
        color: var(--basecolor);
        opacity: .7;
    }

    .register-page button, .login-page button{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 40px;
        cursor: pointer;
    }

    #regisbtn, #loginbtn {
        cursor: pointer;
    }

    /* edu card */
    .edu-area {
        overflow: hidden;
        width: 100%;
    }

    .edu-card {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .edu-card img {
        width: 640px;
        margin-left: 20px;
        border-radius: 8px;
    }

    .edu-area img.edu-btn {
        width: 30px;
        position: relative;
        z-index: 100;
    }

    .edu-area img.edu-btn:hover {
        filter: drop-shadow(0 0 20px var(--basecolor));
    }

    .edu-area .left {
        top: 175px;
        left: -20px;
    }

    .edu-area .right {
        right: -670px;
        bottom: 175px;
    }

    /* fitures */
    .fitur-content {
        display: inline-block;
        position: relative;
        margin: 20px 45px;
        transition: .5s;
    }

    .fitur-content:hover {
        opacity: .7;
        filter: drop-shadow(0 0 10px var(--seccolor));
        color: var(--seccolor);
        scale: 1.05;
    }

    .fitur img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 30px;
        margin-bottom: -20px;
        width: 50px;
        height: 50px;
        align-items: center;
    }

    .fitur a {
        color: var(--basecolor);
        text-decoration: none;
        margin: auto;
    }

    .fitur-content p {
        text-align: center;
        font-size: small;
    }

    /* fitur-page */
    .fitur-area {
        height: 500px;
    }

    .fitur-area h2 {
        display: grid;
        place-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    /* product */

    .card-container {
        width: 100%;
        height: fit-content;
        margin: auto;
    }

    .product-card {
        float: left;
        padding: 10px;
        width: 200px;
        height: fit-content;
        border-radius: 8px;
        margin: 20px 13px;
        box-shadow: 0 0 5px var(--basecolor);
        transition: .5s;
    }

    .product-card:hover {
        box-shadow: 0 0 10px var(--basecolor);
        opacity: .8;
        scale: 1.1;
    }

    .product-card * {
        margin: 5px 0;
    }

    .product-card button {
        width: 100%;
        height: 30px;
        transition: .3s;
    }

    .product-card img.prod-img {
        width: 180px;
        height: 180px;
    }
    
    .product-card img.cart-oc {
        position: relative;
        top: -50px;
        left: 145px;
        width: 20px;
        height: 20px;
        background-color: var(--basecolor);
        box-shadow: 0 0 10px 10px var(--basecolor);
        transition: .5s;
    }

    .product-card img.cart-oc:hover {
        transform: scale(1.2);
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
    }


    /* article */
    .article-content {
        margin: 20px;
    }

    .thumbnail img {
        height: 300px;
        width: 100%;
        border-radius: 8px;
    }
    
    .article-content p {
        text-indent: 15px;
    }

    .article-content ul li {
        margin-left : 40px;
    }

    .article-content h4 {
        text-indent: 20px;
    }

    /* account */
    .account-content {
        margin: auto;
    }

    .account-content img.profile-picture {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        margin-bottom: 5px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 5px var(--basecolor);
    }

    .account-content img.eye {
        position: relative;
        bottom: -3px;
        right: -35px;
        height: 15px;
        width: 15px;
    }
    
    .add-btn {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        gap: 30px;
        width: 100%;
    }

    .btn-acc {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
        margin-top: 15px;
    }

    .account-content button {
        position: relative;
        margin-top: 20px;
        margin: auto;
        width: 320px;
        height: 40px;
    }

    .account-content .btn-acc #keluarbtn {
        background-color: var(--bgcolor);
        color: var(--basecolor);
        transition: .5s;
    }

    .account-content .btn-acc #keluarbtn:hover {
        background-color: var(--seccolor);
    }

    .account-content h3 {
        margin-bottom: 10px;
    }

    .account-content input {
        position: relative;
        margin-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: fit-content;
        padding: 10px;
        border: none;
        box-shadow: 0 0 5px var(--basecolor);
        border-radius: 8px;
    }

    .account-content input:focus {
        outline: none;
        color: var(--basecolor);
    }

    .account-content input:enabled {
        color: var(--basecolor);
    }

    .account-content input::placeholder {
        color: var(--basecolor);
        opacity: .7;
    }
    
    /* slider toggle */
    .slider-container {
        margin-top: 20px;
        margin-left: 65px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        transition: .4s;
        border-radius: 34px;
        border: 1px solid var(--basecolor);
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 25px;
        width: 25px;
        left: 4px;
        bottom: 4px;
        background-color: #2a2a2a;
        transition: .7s ease-in-out;
        border-radius: 50%;
    }
    
    input:checked + .slider {
        background-color: #2a2a2a;
    }
    
    input:checked + .slider:before {
        transform: translateX(26px);
        background-color: #fff;
    }


    /* notification */
    .notif-container {
        margin: 20px;
    }

    .notif-content {
        box-shadow: 0 0 5px var(--basecolor);
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
    }

    .notif-text{
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    .notif-content .date {
        margin-top: 20px;
        margin-left: 15px;
    }

    .notif-btn {
        width: 100px;
        height: 40px;
        margin-top: 10px;
    }


    /* activity */
    .activity-container {
        margin: 20px;
    }

    .activity-content {
        display: flex;
        box-shadow: 0 0 5px var(--basecolor);
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
    }

    .activity-content img {
        width: 50px;
        height: 50px;
    }
    .activity-content .date {
        margin-left: 200px;
        margin-top: 15px;
    }

    .activity-content .activity-description {
        margin-left: 40px;
        font-size: 15px;
        width: 100px;
    }

    /* product */
    .prod-content *{
        margin: 20px;
    }

    .prod-content {
        display: flex;
    }

    .prod-description {
        margin-top: 50px;
    }

    .prod-content img {
        width: 200px;
        height: 200px;
        box-shadow: 0 0 10px var(--basecolor);
    }

    .prod button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        width: 500px;
        height: 50px;
        transition: .5s;
    }
    
    .prod img.cart-op {
        position: relative;
        top: 8px;
        right: -120px;
        width: 25px;
        height: 25px;
        transition: .5s;
        background-color: var(--basecolor);
        box-shadow: 0 0 10px 10px var(--basecolor);
    }

    .prod img.cart-op:hover {
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
    }

    /* cart */
    .cart-container {
        margin: 20px;
    }

    .cart-content {
        display: flex;
        box-shadow: 0 0 5px var(--basecolor);
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
    }

    .cart-content img {
        width: 90px;
        height: 90px;
    }

    .cart-content .cart-description {
        margin-left: 50px;
        width: 50px;
    }

    .cartbtn {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 5px;
        margin-left: 100px;
    }

    .cartbtn .hapus-btn {
        background-color: var(--bgcolor);
        color: var(--basecolor);
    }

    .cartbtn .hapus-btn:hover {
        background-color: var(--seccolor);
    }

    .cart-content button{
        width: 150px;
        margin: auto;
        transition: 1s;
        height: 30px;
    }

    .allin-btn-cart {
        display: flex;
        flex-direction: row;
        margin-left: 240px;
        gap: 20px;
    }

    .allin-btn-cart button {
        height: 50px;
        width: 200px;
        transition: .5s;
    }

    .allin-btn-cart .hapus-btn {
        color: var(--basecolor);
        background-color: var(--bgcolor);
    }

    .allin-btn-cart .hapus-btn:hover {
        background-color: var(--seccolor);
        color: var(--bgcolor);
    }

    input[type="checkbox"] {
        display: none;
    }

    .cb-prod {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin-left: 90px;
        box-shadow: 0 0 5px var(--basecolor);
        border-radius: 8px;
        position: relative; 
        cursor: pointer;
    }

    .cb-prod:after {
        content: '';
        position: absolute;
        left: 20px;
        width: 25px; 
        height: 50px;
        border: solid var(--basecolor); 
        border-width: 0 5px 5px 0;
        transform: rotate(45deg); 
        opacity: 0; 
        transition: opacity 0.2s; 
    }

    
    input.cb-prod:checked + .cb-prod:after {
        opacity: 1; 
    }


    /* clearfix */
    .cf:before, .cf:after {
        content: " ";
        display: table;
    }
    .cf:after {
        clear: both;
    }


    /* footer */
    footer {
        height: 25px;
        width: 100%;
        background-color: var(--basecolor);
        color : var(--bgcolor);
        text-align: center;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 767px){
    /* loading page */
    .loadpage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #loadingimg {
        display: block;
        width: 40px;
        margin: auto;
        cursor: default;
        animation: tuing2 ease-out 2s infinite;
        -webkit-animation: tuing2 ease-out 2s infinite;
    }
    
    #loadingtext {
        display: block;
        text-align: center;
        margin: auto;
        cursor: default;
        animation: teks 3s ease-in-out infinite;
    }

    h1, h2, h3, h4, h5, h6, p {
        font-size: x-small;
    } 

    button {
        font-size: 10px;
    }

    /* hero section */
    .hero {
        display: none;
    }

        /* Header */
    header * {
        margin: auto;
    }

    header {
        top: 0;
        left: 0;
        right: 0;
        position: sticky;
        background-color: var(--basecolor);
        color: var(--bgcolor);
        box-shadow: 0 5px 5px var(--basecolor);
        height: 40px;
        display: flex;
        margin: auto;
        z-index: 1000;
    }

    header nav {
        display: flex;
        gap: 15px;
    }

    header nav a img {
        width: 10px;
        height: 10px;
        transition: .5s;
    }

    header nav a img:hover{
        border-radius: 8px;
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
        scale: 1.25;
    }

    header nav a img.activ:hover {
        transform: rotate(-360deg);
    }

    header nav a img.notif:hover {
        animation: bell .5s ease-in-out;
    }

    header nav a img.usser:hover {
        animation: bell .5s ease-in-out;
    }

    header a.logo {
        color: var(--bgcolor);
        text-decoration: none;
        display: flex;
        gap: 5px;
        transition: .3s;
    }

    header a.logo:hover {
        filter: drop-shadow(0 0 10px var(--bgcolor));
    }

    header a img {
        width: 30px;
        height: 30px;
    }

    header a h1 {
        font-size: 10px;
    }

    header .search-box input {
        height: 10px;
    }

    header .search-box input:focus {
        outline: none;
        color: var(--basecolor);
    }

    header .search-box input:enabled {
        color: var(--basecolor);
    }

    header .search-box input::placeholder {
        color: var(--basecolor);
        opacity: .7;
        font-size: 8px;
    }

    header .search-box {
        display: flex;
        gap: 0px;
        width: fit-content;
        height: fit-content;
        border-radius: 8px;
        box-shadow: 0 0 10px var(--bgcolor);
    }

    header .search-box img {
        width: 10px;
        height: 10px;
    }

    header .search-box button {
        border: none;
        height: 20px;
        width: 20px;
        background-color: var(--basecolor);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        transition: .3s;
    }

    header .search-box button:hover {
        background-color: var(--bgcolor);
    }

    header input#search-section {
        background-color: var(--bgcolor);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        border: none;
        padding: 10px;
        width: 100px;
        height: 10px;
    }

    
    /* hide searchbox */
    header .search-box-hide { 
        width: 100px;
    }

    /* Main */
    main {
        background-color: var(--bgcolor);
        color: var(--basecolor);
        margin: auto;
        margin-top: 30px;
        width: 300px;
        text-align: left;
    }


    /* section */
    section {
        box-shadow: 0 0 10px var(--basecolor);
        border-radius: 8px;
        margin: 20px auto;
        padding: 20px;
    }

    section button {
        border-radius: 8px;
        background-color: var(--basecolor);
        box-shadow: 0 0 5px var(--basecolor);
        color: var(--bgcolor);
        border: none;
    }

    section button:hover{
        background-color: var(--seccolor);
    }
    
    section a img.close {
        position: relative;
        z-index: 700;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        transition: .5s;
        box-shadow: 0 0 5px 5px var(--basecolor);
        background-color: var(--basecolor);
    }

    section a img.close:hover {
        z-index: 700;
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
        scale: 1.05;
    }

    section .pop-up {
        position: fixed;
        bottom: 50px;
        right: -580px;
        padding: 15px;
        background-color: var(--bgcolor);
        box-shadow: 0 0 5px var(--basecolor);
        border-radius: 8px;
        width: fit-content;
        height: fit-content;
    }

    section .pop-up h2, .pop-up p {
        text-align: center;
        font-size: smaller;
        margin: auto;
        cursor: default;
    }

    /* login-page */
    .register-page *, .login-page * {
        margin: 10px;
    }
    
    .register-page, .login-page {
        position: fixed;
        box-shadow: 0 0 5px var(--basecolor);
        background-color: var(--bgcolor);
        height: fit-content;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .register-page h1, .login-page h1 {
        margin: auto;
        text-align: center;
    }

    .register-page h3, .login-page h3 {
        border-bottom: 1px solid var(--basecolor);
        width: fit-content;
    }

    .register-page .write, .login-page .write {
        display: flex;
    }

    .register-page .write img.register-image, .login-page .write img.login-image {
        width: 20px;
        height: 20px;
        margin: auto;
    }

    .register-page .write img.eye, .login-page .write img.eye {
        position: absolute;
        bottom: 97px;
        right: 30px;
        height: 15px;
        width: 15px;
    }
    
    .register-page .write input, .login-page .write input {
        width: 200px;
        margin: auto;
        height: 5px;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 0 5px var(--basecolor);
        background-color: var(--bgcolor);
    }

    .register-page .write input:focus, .login-page .write input:focus {
        outline: none;
        color: var(--basecolor);
    }

    .register-page .write input:enabled, .login-page .write input:enabled {
        color: var(--basecolor);
    }

    .register-page .write input::placeholder, .login-page .write input::placeholder {
        color: var(--basecolor);
        opacity: .7;
    }

    .register-page button, .login-page button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 30px;
        cursor: pointer;
    }

    #regisbtn, #loginbtn {
        cursor: pointer;
    }

    /* edu card */
    .edu-area {
        overflow: hidden;
        width: 100%;
    }

    .edu-card {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .edu-card img {
        width: 240px;
        margin-left: 10px;
        border-radius: 8px;
    }

    .edu-area img.edu-btn {
        width: 15px;
        position: relative;
        z-index: 100;
    }

    .edu-area img.edu-btn:hover {
        filter: drop-shadow(0 0 20px var(--basecolor));
    }

    .edu-area .left {
        top: 65px;
        left: -20px;
    }

    .edu-area .right {
        right: -260px;
        bottom: 65px;
    }


    /* fitures */
    .fitur-content {
        display: inline-block;
        position: relative;
        margin: auto 23px;
        width: 80px;
        transition: .5s;
    }

    .fitur-content:hover {
        opacity: .7;
        filter: drop-shadow(0 0 10px var(--seccolor));
        color: var(--seccolor);
        scale: 1.05;
    }

    .fitur img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 30px;
        margin-bottom: -10px;
        width:20px;
        height: 20px;
        align-items: center;
    }

    .fitur a {
        color: var(--basecolor);
        text-decoration: none;
        margin: auto;
    }

    .fitur-content p {
        text-align: center;
    }

    /* fitur-page */
    .fitur-area {
        height: 500px;
    }

    .fitur-area h2 {
        display: grid;
        place-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    /* product */

    .card-container {
        width: 100%;
        height: fit-content;
        margin: auto;
    }

    .product-card {
        float: left;
        padding: 10px;
        width: 110px;
        height: fit-content;
        border-radius: 8px;
        margin: 20px 10px;
        box-shadow: 0 0 5px var(--basecolor);
        transition: .5s;
    }

    .product-card:hover {
        box-shadow: 0 0 10px var(--basecolor);
        opacity: .8;
        scale: 1.1;
    }

    .product-card * {
        margin: 5px 0;
    }

    .product-card button {
        width: 100%;
        height: 15px;
        transition: .3s;
    }

    .product-card img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
    }
    
    .product-card img.cart-oc {
        position: relative;
        top: -20px;
        left: 73px;
        width: 10px;
        height: 10px;
        background-color: var(--basecolor);
        box-shadow: 0 0 5px 7px var(--basecolor);
        transition: .5s;
    }

    .product-card img.cart-oc:hover {
        transform: scale(1.2);
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
    }


    /* article */
    .article-content {
        margin: 20px;
    }

    .thumbnail img {
        width: 100%;
        height: 100px;
        border-radius: 8px;
    }

    .article-content p {
        text-indent: 15px;
    }

    .article-content ul li {
        margin-left : 40px;
    }

    .article-content h4 {
        text-indent: 20px;
    }

    /* account */
    .account-content {
        margin: auto;
    }

    .account-content img.profile-picture {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        margin-bottom: 5px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 5px var(--basecolor);
    }
    
    .account-content img.eye {
        position: relative;
        bottom: -3px;
        height: 15px;
        width: 15px;
    }

    .add-btn {
        margin: auto;
        width: fit-content;
        display: flex;
        gap: 35px;
        flex-direction: row;
    }

    .btn-acc {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
        margin-top: 10px;
    }

    .account-content button {
        position: relative;
        margin-top: 20px;
        margin: auto;
        width: 80px;
        height: 40px;
    }

    .account-content .btn-acc #keluarbtn {
        background-color: var(--bgcolor);
        color: var(--basecolor);
        transition: .5s;
    }

    .account-content .btn-acc #keluarbtn:hover {
        background-color: var(--seccolor);
    }


    .account-content h3 {
        margin-bottom: 10px;
    }

    .account-content input {
        position: relative;
        margin-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: fit-content;
        padding: 10px;
        border: none;
        box-shadow: 0 0 5px var(--basecolor);
        border-radius: 8px;
    }

    .account-content input:focus {
        outline: none;
        color: var(--basecolor);
    }

    .account-content input:enabled {
        color: var(--basecolor);
    }

    .account-content input::placeholder {
        color: var(--basecolor);
        opacity: .7;
    }

    /* slider toggle */
    .slider-container {
        margin-top: 25px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        transition: .4s;
        border-radius: 34px;
        border: 1px solid var(--basecolor);
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 25px;
        width: 25px;
        left: 4px;
        bottom: 4px;
        background-color: #2a2a2a;
        transition: .7s ease-in-out;
        border-radius: 50%;
    }
    
    input:checked + .slider {
        background-color: #2a2a2a;
    }
    
    input:checked + .slider:before {
        transform: translateX(26px);
        background-color: #fff;
    }


    /* notification */
    .notif-container {
        margin: 20px;
    }

    .notif-content {
        box-shadow: 0 0 5px var(--basecolor);
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
    }
    
    .notif-text{
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 180px;
    }

    .notif-content .date {
        margin-top: 10px;
        margin-left: 10px;
    }

    .notif-btn {
        width: 50px;
        height: 30px;
        margin-top: 10px;
    }


    /* activity */
    .activity-container {
        margin: 20px;
    }

    .activity-content {
        display: flex;
        box-shadow: 0 0 5px var(--basecolor);
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
    }

    .activity-content img {
        width: 50px;
        height: 50px;
    }

    .activity-content .date {
        margin-top: 10px;
        margin-left: 5px;
        width: 80px;
    }

    .activity-content .activity-description {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 5px;
        width: 80px;
    }

    /* cart */
    .cart-container {
        margin: 20px;
    }

    .cart-content {
        display: flex;
        box-shadow: 0 0 5px var(--basecolor);
        margin: 10px auto;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
    }

    .cart-content img {
        width: 30px;
        height: 30px;
    }

    .cart-content .cart-description {
        margin-left: 20px;
        width: 70px;
    }

    .cart-content .cart-description h3 {
        font-size: smaller;
    }

    .cartbtn {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 10px;
    }
    
    .cartbtn .hapus-btn {
        background-color: var(--bgcolor);
        color: var(--basecolor);
    }

    .cartbtn .hapus-btn:hover {
        background-color: var(--seccolor);
    }

    .cart-content button{
        width: 50px;
        height: 20px;
        margin: auto;
        transition: 1s;
    }
    
    .allin-btn-cart {
        display: flex;
        flex-direction: row;
        margin-left: 70px;
        gap: 10px;
    }

    .allin-btn-cart button {
        height: 30px;
        width: 80px;
        transition: .5s;
    }

    .allin-btn-cart .hapus-btn {
        color: var(--basecolor);
        background-color: var(--bgcolor);
    }

    .allin-btn-cart .hapus-btn:hover {
        background-color: var(--seccolor);
        color: var(--bgcolor);
    }

    input[type="checkbox"] {
        display: none;
    }

    .cb-prod {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        box-shadow: 0 0 5px var(--basecolor);
        border-radius: 8px;
        position: relative; 
        cursor: pointer;
    }

    .cb-prod:after {
        content: '';
        position: absolute;
        left: 8px;
        width: 10px; 
        height: 20px;
        border: solid var(--basecolor); 
        border-width: 0 3px 3px 0;
        transform: rotate(45deg); 
        opacity: 0; 
        transition: opacity 0.2s; 
    }

    
    input.cb-prod:checked + .cb-prod:after {
        opacity: 1; 
    }

    /* product */
    .prod-content *{
        margin: 20px;
    }

    .prod-content {
        display: inline;
    }

    .prod-content img {
        width: 200px;
        height: 200px;
        box-shadow: 0 0 10px var(--basecolor);
    }

    .prod button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        width: 100px;
        height: 30px;
        transition: .5s;
    }
    
    .prod img.cart-op {
        position: relative;
        top: 2px;
        right: -120px;
        width: 15px;
        height: 15px;
        transition: .5s;
        background-color: var(--basecolor);
        box-shadow: 0 0 5px 5px var(--basecolor);
    }

    .prod img.cart-op:hover {
        background-color: var(--seccolor);
        box-shadow: 0 0 10px 10px var(--seccolor);
    }



    /* clearfix */
    .cf:before, .cf:after {
        content: " ";
        display: table;
    }
    .cf:after {
        clear: both;
    }


    /* footer */
    footer {
        height: 20px;
        width: 100%;
        margin-bottom: 0;
        background-color: var(--basecolor);
        color : var(--bgcolor);
        text-align: center;
        letter-spacing: 3px;
    }
}

@keyframes bell {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes tuing2 {
    0% {
        transform:translateY(0)    ;
        -webkit-transform:translateY(0)    ;
        -moz-transform:translateY(0)    ;
        -ms-transform:translateY(0)    ;
        -o-transform:translateY(0)    ;
        filter: drop-shadow(0 0 5px var(--basecolor));
}
    50% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        filter: drop-shadow(0 0 2px var(--basecolor));
}
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        filter: drop-shadow(0 0 5px var(--basecolor));
}
}

@keyframes teks {
    0% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
    }
}

@keyframes usser {
    0% {
        transform: skew(0deg);
    }
    25% {
        transform: skew(5deg) translateX(-1px);
    }
    75% {
        transform: skew(-5deg) translateX(1px);
    }
    100% {
        transform: skew(0deg);
    }
}

@keyframes cart {
    0% {
        transform:translateX(0);
    }
    25% {
        transform: translateX(-8px);
    }
    75% {
        transform: translateX(8px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes ftr {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 5px var(--basecolor));
    }
    50% {
        transform: scale(1.1);
        filter: drop-shadow(0 0 2px var(--basecolor));  
    }
    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 5px var(--basecolor));
    }
}

@keyframes ppp {
    0% {
        transform: translatex(0);
    }
    20% {
        transform: translateX(-600px);
    }
    90% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(0);
    }
}
